{{ define "main" }}
<section class="taxonomy-terms">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="page-header text-center">
                    <h1>{{ .Title }}</h1>
                </header>
            </div>
        </div>
        <div class="row">
            {{ range .Data.Pages }}
            <div class="col-md-4 mb-4">
                <article class="taxonomy-term">
                    <h2 class="h5">
                        <a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a>
                    </h2>
                    <p>{{ .Summary }}</p>
                </article>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
