{{ define "main" }}
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        {{ $imagePath := .Params.image }}
        {{ if $imagePath }}
        <div class="position-relative">
          {{ if hasPrefix $imagePath "http" }}
          <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
               class="img-fluid mb-5 w-100 rounded-4">
          {{ else }}
          {{ $imageFile := printf "assets/%s" $imagePath }}
          {{ if fileExists $imageFile }}
          {{ $image := resources.Get $imagePath }}
          {{ $imageFallback := $image.Resize "1400x" }}
          {{ $imageXL := $image.Resize "1400x webp" }}
          {{ $imageLG := $image.Resize "1000x webp" }}
          {{ $imageMD := $image.Resize "800x webp" }}
          {{ $imageSM := $image.Resize "600x webp" }}
          <picture>
            <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
            <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
            <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
            <source srcset="{{ $imageXL.RelPermalink }}">
            <img src="{{ $imageFallback.RelPermalink }}" alt="{{ .Title }}"
                 class="img-fluid mb-5 w-100 rounded-4" width="{{ $image.Width }}" height="{{ $image.Height }}">
          </picture>
          {{ else }}
          <img src="/path/to/default/image.png" alt="Default image" class="img-fluid mb-5 w-100 rounded-4">
          {{ end }}
          {{ end }}
        </div>
        {{ end }}
        {{ if .Params.categories }}
        <ul class="list-inline card-badge">
          {{ range .Params.categories }}
          <li class="list-inline-item">
            <a href="{{ `categories/` | relLangURL }}{{ . | lower | urlize }}" class="badge badge-primary py-1">
              {{ . | title }}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
        <h1 class="h3 mb-4">{{ .Title | markdownify }}</h1>
        <ul class="list-inline card-meta d-flex align-items-center mb-4">
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-user me-2"></i>
            <a href="{{ `about` | relLangURL }}">{{ site.Params.author }}</a>
          </li>
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-calendar me-2"></i>
            <span>{{ time.Format ":date_long" .PublishDate }}</span>
          </li>
        </ul>
        <div class="content drop-cap">{{ .Content }}</div>
        {{ if .Site.DisqusShortname }}
        <div class="border rounded p-4">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
      <aside class="col-lg-4">
        {{ $widget := site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" (dict "Widgets" $widget "Scope" .) }}
      </aside>
    </div>
  </div>
</section>
<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h4 title-border">Related Posts</h2>
      </div>
    </div>
    <div class="row">
      {{ $currentCategories := .Params.categories }}
      {{ $related := where (where site.RegularPages "Params.categories" "intersect" $currentCategories) "Permalink" "!=" .Permalink }}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        {{ .Render "post" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ else }}
{{ partial "page-header.html" . }}
<p class="breadcrumbs"></p>
  {{ partial "breadcrumbs.html" . }}
</p>
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
