{{ $base := .Site.BaseURL }}
{{ $path := "" }}
{{ $breadcrumbs := slice (dict "url" $base "name" "Home") }}  {{/* Always start with Home */}}

{{ range $index, $element := split (trim .Permalink $base) "/" }}
  {{ if ne $element "" }}
    {{ $path = print $path $element "/" }}  {{/* Build up the path */}}
    {{ $fullURL := printf "%s%s" $base $path }}  {{/* Create full URL */}}
    {{ $breadcrumbs = append $breadcrumbs (dict "url" $fullURL "name" (title $element)) }}
  {{ end }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{ range $index, $breadcrumb := $breadcrumbs }}
      {{ if ne $index 0 }},{{ end }}
      {
        "@type": "ListItem",
        "position": {{ add $index 1 }},
        "item": {
          "@id": "{{ $breadcrumb.url }}",
          "name": "{{ $breadcrumb.name }}"
        }
      }
    {{ end }}
  ]
}
</script>
