<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "https://earnonlinemoney.org/",
    "inLanguage": "en",
    "name": "Earnonlinemoney.org",
    "url": "https://earnonlinemoney.org/",
    "publisher": {
      "@id": "https://earnonlinemoney.org/#org"
    },
    "author": {
      "@type": "Person",
      "@id": "https://earnonlinemoney.org/#maker",
      "name": "Dejuan",
      "url": "https://earnonlinemoney.org/about/",
      "image": "https://earnonlinemoney.org/images/logo.png"
    },
    "image": "https://earnonlinemoney.org/images/about_huff9361a86d1036fa89db24a8e7cfc9c4_9824_1110x0_resize_q90_h2_box.webp",
    "description": "Ultimate guide to earn money online free, quick or easy. Find trending side hustles, passive income ideas, cash injections online jobs & more.",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://earnonlinemoney.org/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "https://earnonlinemoney.org/#org",
    "name": "Earnonlinemoney.org",
    "logo": {
      "@type": "ImageObject",
      "@id": "https://earnonlinemoney.org/#logo",
      "url": "https://earnonlinemoney.org/images/logo_hu20e5d56aa04c3514f02ab6df57365ef6_13188_300x0_resize_q90_h2_box_3.webp"
    },
    "sameAs": [
      "https://www.facebook.com/earnmoneynowonline/",
      "https://www.linkedin.com/company/earn-money-online-free/"
    ],
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://earnonlinemoney.org/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  
